@media screen and (max-width: 750px) {
    .footer-top-box {
        justify-content: space-around;
        font-size: 18px;
    }
    .footer-contacts {
       width: 100%;
       display: flex;
       justify-content: space-around;

       border-top: solid 1px #26354e;
       padding-top: 40px;
       margin-top: 15px;
    }
        .footer-mail-tel {
            margin: 0;
        }
}

@media screen and (max-width: 550px) {
    .footer-top-box {
        justify-content: inherit;
    }

    /* .footer-logo, .contacts {
        margin: 0 auto;
    } */

    .footer-navigation {
        padding: 0;
    }
    .footer-info {
        width: 100%;
        margin-top: 25px;
        padding-top: 35px;

        border-top: solid 1px #26354e;

    }

    .footer-contacts {
       margin-top: 35px;
       padding: 0;
        display: block;

        border: none;
     }
        .footer-mail-tel{
            margin-top: 45px;
        }

    
}